@import url('https://fonts.googleapis.com/css2?family=Caudex&display=swap');
/* font-family: 'Caudex', serif; */
@import url('https://fonts.googleapis.com/css2?family=Caudex&family=Nunito+Sans:opsz,wght@6..12,200&display=swap');
/* font-family: 'Nunito Sans', sans-serif; */


/* USING CSS VARIABLES :) */
:root {
    --text-color: black;
    --background-color: white;
    --text-hover-color: rgb(47, 49, 53);
    --button-hover-filter: contrast(5%);
    --button-filter: contrast(100%);
}

.dark-theme {
    --text-color: white;
    --background-color: black;
    --text-hover-color: rgb(200, 208, 227);
    --button-hover-filter: contrast(50%);
    --button-filter: contrast(5%)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Caudex', serif;
    font-weight: normal;
    color: var(--text-color);
    background-color: var(--background-color);

}


img {
    border-radius: 5px;
}


header {
    font-family: 'Caudex', serif;
    color: var(--text-color);
    text-align: center;
    font-weight: normal;
    line-height: normal;
    z-index: 999;
}

header h1 {
    font-size: 113px;
    font-weight: normal;
}

header h1 a {
    text-decoration: none;
    color: inherit;
}

header h1 a:hover {
    color: var(--text-hover-color);
}

header h2 {
    font-size: 42px;
    font-weight: normal;
}

header h3 {
    font-size: 13px;
    font-family: 'Nunito Sans', sans-serif;
    padding-left: 9%;
    padding-right: 9%;
}

header h4 {
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    padding-left: 9%;
    padding-right: 9%;
}

/* Menu Stuff */
.menu {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 50;
    z-index: 9999;
}

.menu a {
    display: inline-block;
    margin-right: 7px;
    position: relative;
}

.menu a img {
    width: 20px;
}

.menu a:hover {
    filter: grayscale(80%);
}

/* Portfolio MENU */

/* Resetting default list styles */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 99999;
}

.portMenu-container {
    position: fixed;
    top: 45px;
    left: 20px;
    order: 1;
    z-index: 999999;

}

.portMenu {
    position: relative;
}

.menu>li {
    padding-right: 5px;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: left;
    width: 100px;
}

.submenu>li {
    padding-right: 5px;
    padding-top: 6px;
}

.subsubmenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    text-align: left;
    width: 200px;
}

.subsubmenu2 {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    text-align: left;
    width: 200px;
    padding-top: 26.8px;
    /* this top padding is why I made a subsubmenu2 */
}

.subsubmenu>li {
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 6px;
}

.subsubmenu li a {
    text-decoration: none;
    color: inherit;
}

.subsubmenu2>li {
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 6px;
}

.subsubmenu2 li a {
    text-decoration: none;
    color: inherit;
}

/* Colors - May have done this a wacky way - should prolly fix */
.portMenu:hover {
    color: rgb(0, 66, 208);
    cursor: pointer;
}

.portMenu:hover .submenu {
    color: rgb(177, 181, 184);
}

.submenu-item:hover {
    color: rgb(91, 132, 255);
}

.submenu-item:hover .subsubmenu,
.subsubmenu2 {
    color: rgb(218, 219, 219);
}

.subsubmenu li:hover {
    color: rgb(123, 180, 255);
}

.subsubmenu2 li:hover {
    color: rgb(123, 180, 255);
}

/* Show submenu on hover */
.portMenu:hover .submenu {
    display: block;
    cursor: pointer;
}

.submenu-item:hover .subsubmenu {
    display: block;
    cursor: pointer;
}

.submenu-item:hover .subsubmenu2 {
    display: block;
    cursor: pointer;
}


/* About Page */

.about {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 50;
}

.about a {
    display: inline-block;
    margin-right: 7px;
    position: relative;
    text-decoration: none;
    color: inherit;
}

.about a:hover {
    color: rgb(0, 66, 208);
}

/* Gallery Stuff */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    margin-left: 110px;
    margin-right: 110px;
}

.column {
    display: flex;
    flex-direction: column;
}

.image-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.image-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 50px 20px;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 5px;
}

.image-container:hover .image-text {
    opacity: 1;
    /* Reveal text on hover */
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 0px;
    /* this is where the issue is!! */
    transition: filter 0.3s;
}

.image-container:hover img {
    cursor: pointer;
}

/* Next and Previous Project Buttons */

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.button {
    text-decoration: none;
    align-items: center;
    transition: color 0.3s ease;
}

.button img {
    width: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 13px;
    filter: var(--button-filter);
}

.button:hover img {
    filter: var(--button-hover-filter)
}

/* ABOUT PAGE */

.aboutContainer {
    display: flex;
    justify-content: center;
}

.aboutImage {
    text-align: center;
}

.aboutImage img {
    max-width: 60%;
    height: auto;
}

/* Styling the dark theme button */
#colorToggle {
    cursor: pointer;
    font-size: 20px;
    z-index: 9999;
}

#colorToggle:hover {
    color: var(--text-color);
}


@media screen and (max-width: 1000px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        margin-left: 60px;
        margin-right: 60px;
    }

    header h3 {
        padding-left: 13%;
        padding-right: 13%;
    }

    header h4 {
        padding-left: 9%;
        padding-right: 9%;
    }
}

/* Phone */
@media screen and (max-width: 767px) {
    header h1 {
        font-size: 76px;
        line-height: 1.1;
        padding-left: 5%;
        padding-right: 5%;
    }

    header h2 {
        font-size: 38px;
    }

    header h3 {
        padding-left: 13%;
        padding-right: 13%;
    }

    header h4 {
        padding-left: 9%;
        padding-right: 9%;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 30px;
        margin-left: 60px;
        margin-right: 60px;
    }
}